@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap');

body {
    height: 100vh;
    max-width: 1442px;
    background: linear-gradient(rgba(72, 72, 72, 0.4), rgba(72, 72, 72, 0.4)), 
    url('/assets/img/background-img.jpeg');
    background-position: 50% 50%;
    background-repeat: repeat-y;
    background-size: cover;
}

/* header */
.container-header {
    max-width: 1442px;
}

.container-header-img {
    width: 121px;
    height: 47px;
    margin-top: 24px;
    margin-left: 189px;
}

.container-header-img img {
    width: 100%;
    height: 100%;
}

/* Formulário */
.container-formulario {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-formulario section {
    width: 794px;
    height: 517px;
    background: rgba(84, 68, 56, 0.7);
    box-shadow: 0px 5px 10px rgba(186, 186, 186, 0.4), inset 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.titulo-formulario {
    margin: 60px 0 50px;
    text-align: center;
    font-family: 'Hammersmith One';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color: #FFFFFF;
}

.container-forms {
    display: flex;
    gap: 160px;
    margin: 0 50px;
}

.form-lado-esquerdo, .form-lado-direito {
    display: flex;
    flex-direction: column;
}

.form-lado-esquerdo label, .form-lado-direito label {
    font-family: 'Hammersmith One';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
    margin-bottom: 4px;

}

.form-lado-esquerdo input, .form-lado-direito input {
    width: 259px;
    height: 49px;
    box-sizing: border-box;
    background: #805A40;
    border: 1px solid #BAB7B7;
    border-radius: 2px;
    margin-bottom: 30px;
    padding-left: 9px;
}

.form-lado-esquerdo input::placeholder, .form-lado-direito input::placeholder {
    font-family: 'Hammersmith One';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: rgba(219, 219, 219, 0.5);
}

.container-tipo-usuario {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.form-lado-direito input[type="radio"] {
    width: 15px;
    height: 15px;
    box-sizing: border-box;
    appearance: none;
    border-radius: 50%;
    background-color: transparent;
}


input[type="text"], input[type="email"], input[type="password"] {
    color: #FFF; 
}


input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus {
    outline: none; 
    border-color: #FF6A00;
}

input[type="radio"]:checked {
    background-color: #FF6A00; /* Cor de preenchimento */
    
}

.btn-submit {
    display: flex;
    margin: 0 auto;
    width: 300px;
    height: 42.4px;
    box-sizing: border-box;
    background: #FF6A00;
    border: 1px solid #BAB7B7;
    border-radius: 5px;
    font-family: 'Hammersmith One';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
}

.footer {
    width: 100%;
    height: 69px;
    background-color: #D46D24;
}

