body {
  font-family: 'Roboto', sans-serif;
}

/* Cabeçalho */
header {
  background-color: rgba(0, 0, 0, 0.25);
  color: white;
  box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.1);
}

/* Ícones do cabeçalho */
.menu-icon .bi-list {
  color: rgba(84, 68, 56, 1);
}

.icons-header {
  display: flex;
  gap: 19px;
  width: auto; /* Ajuste para largura automática */
}

.icons-header .bi {
  color: rgba(84, 68, 56, 1);
}

/* Menu com transição */
.menu {
  position: absolute;
  top: 60px;
  left: 0;
  width: 384px;
  height: 100%;
  background-color: #ffffff;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  transform: translateX(-100%);
  pointer-events: none;
  transition: opacity 0.3s ease, transform 0.3s ease, visibility 0s 0.3s;
}

.menu.show {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
  pointer-events: auto;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.menu a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: #333;
}

.menu a:hover {
  background-color: #f2f2f2;
}

.menu-icon {
  cursor: pointer;
}

/* Botões */
.container .btn-add-produto,
.btn-salvar-produto {
  width: 257px;
  height: 56px;
  font-size: 16px;
  font-weight: 700;
  color: #ffffff;
  background-color: #FF6A00;
  border: none;
  border-radius: 5px;
}

.btn-salvar-produto {
  width: 114px;
  height: 38px;
  font-size: 14px;
  font-weight: 500;
}

.btn-add-produto:hover,
.btn-salvar-produto:hover {
  background-color: #e65c00;
}

.cardapio-table {
  margin: 20px;
  border: 1px solid #805A40;
  border-radius: 5px;
}

.cardapio-table th,
.cardapio-table td {
  text-align: center;
}

.img-produto {
  border-radius: 10px;
}

/* Modal */
.modal {
  background-color: rgba(0, 0, 0, 0.7);
}

/* Estilo do input para escondê-lo */
input[type="file"] {
  display: none;
}

/* Estilo do label */
label[for="productImage"] {
  display: inline-block;
  height: 100px;
  width: 150px;
  color: #fff;
  border: 3px dashed #fff;
  border-radius: 6px;
  background-color: grey;
  padding: 30px;
  text-align: center;
  cursor: pointer;
  margin-bottom: 10px;
}

/* Efeito de hover sobre o label */
label[for="productImage"]:hover {
  color: #de0611;
  border: 3px dashed #de0611;
}

footer {
  background-color: #cc5200;
  color: white;
  text-align: center;
  padding: 10px 0;
}

/* Responsividade */
@media (max-width: 768px) {
  .menu {
      width: 100%; /* Menu ocupa a tela inteira em dispositivos menores */
  }

  .container .btn-add-produto,
  .btn-salvar-produto {
      width: 100%; /* Botões ocupam toda a largura do container */
      height: 50px;
      font-size: 14px;
  }

  .cardapio-table {
      margin: 10px;
      font-size: 14px;
  }

  label[for="productImage"] {
      height: 80px;
      width: 120px;
      padding: 20px;
      font-size: 14px;
  }
}

@media (max-width: 480px) {
  header {
      font-size: 14px; /* Ajusta o tamanho do texto no cabeçalho */
  }

  .menu-icon .bi-list {
      font-size: 20px; /* Ícone do menu maior */
  }

  .icons-header {
      gap: 10px; /* Menor espaço entre ícones */
  }

  label[for="productImage"] {
      height: 70px;
      width: 100px;
      padding: 15px;
      font-size: 12px;
  }
}
