@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    height: 100vh;
    max-width: 1440px;
}

.navbar {
    display: flex; /* Habilita o flexbox */
    justify-content: center; /* Centraliza os itens horizontalmente */
    align-items: center; /* Centraliza os itens verticalmente */
    border-radius: 0; /* Remove as bordas arredondadas */
    margin: 0 auto;
    background-color: #ffffff;
    height: 70px;
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.25);
}
  
.navbar-toggler {
    width: 50px; 
    height: 44px; /* Altura do botão */
    position: absolute; /* Coloca o botão fora do fluxo de layout */
    left: 142px; /* Distância da esquerda */
}
  
.menu {
    width: 25%;
    height: 830px;
    gap: 0px;
    background: #F4F4F4E5;
    box-shadow: 4px 4px 4px 2px #0000001A;
    backdrop-filter: blur(4px);
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
    position: absolute; /* Alterado para ficar em relação ao container */
    left: 0;
    top: 70px; /* Deve coincidir com a altura do navbar */
    z-index: 1000; /* Garante que o menu fique acima do conteúdo */
    padding-top: 80px;
    padding-left: 10%;
}
  
.menu.show {
    opacity: 1;
    pointer-events: auto; /* Permite interação quando visível */
}
  
  
.menu ul li {
    display: flex;
    align-items: center; /* Centraliza verticalmente */
    gap: 10px; /* Espaçamento entre a imagem e o texto */
    margin-bottom: 20px; /* Espaço extra entre os itens, se necessário */
}

.menu ul li img {
    width: 24px; /* Ajuste o tamanho da imagem, se necessário */
    height: 24px; /* Ajuste o tamanho da imagem, se necessário */
    object-fit: contain; /* Garante que a imagem seja exibida corretamente */
}
  
.menu ul li a {
    font-size: 20px; /* Tamanho da fonte, ajuste conforme necessário */
    text-decoration: none; /* Remove o sublinhado dos links */
    line-height: 30px;
    color: #000; /* Define a cor do texto */
}


.logo-top {
    width: 121px;
    height: 47px;
    opacity: 1; /* Certifique-se de que a imagem será visível */
}
.container-imgs {
    position: absolute;
    width: 65px;
    height: 30px;
    top: 25px;
    left: 1188px;
    display: flex;
    gap: 0;
}
  
.container-imgs div img{
    width: 23px;
    height: 23px;
    position: absolute;
    top: 0;
    opacity: 1; /* Alterado para visível */
}
  
.container-imgs .container-icon img:first-child {
    border-radius: 2px;
    background: #FC80194D;
    left: 0; /* Primeira imagem na posição da esquerda */
}
  
.container-imgs .container-person img:last-child {
    border-radius: 2px;
    background: #FC80194D;
    left: 35px; /* Segunda imagem 30px à direita da primeira */
}

/* Modal carrinho */
.modal-carrinho {
    width: 600px;
    height: auto;
    background: rgba(128, 90, 64, 0.7);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    position: fixed;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    z-index: 1000; 
    display: none;
    justify-content: center;
}

.modal-carrinho.ativo {
    display: flex;
}

.icon-fechar-modal {
    position: relative;
    left: 92%;
    bottom: 8%;
}

/* seção itens de pedidos */
.container-carrinho {
    padding-top: 60px;
    width: 90%;
}

.carrinho {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 37px;
}

.icon-carrinho {
    display: flex;
    align-items: center;
    width: 32px;
    height: 34px;
    gap: 10px;
}

.icon-carrinho img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carrinho-titulo, .carrinho-itens {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

.carrinho-itens {
    margin-right: 20px;
}

/* lista de itens do carrinho */
.item {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #FFFFFF;
    margin-bottom: 25px;
}

.nome-item, .valor-item {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #FFFFFF;
}

.valor-item {
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
}

.numero-item {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-left: 100px;
}

.btn-menos, .btn-mais {
    border: none;
    background: rgba(128, 90, 64, 0.0) !important;
    color: #FFFFFF;
}

.quantidade-item {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #FFFFFF;
    margin-bottom: 0px;
}

.container-total {
    display: flex;
    justify-content: space-between;
}

.nome, .valor-total {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

.valor-total {
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    margin-right: 20px;
}

.btn-pagamento {
    width: 286px;
    height: 54px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
    background: #FF6A00;
    border-radius: 5px;
    border: none;
    display: flex;
    margin: 60px auto;
}

.container-pedido {
    height: 100%;
}


/* Remover bordas duplicadas da tabela */
.custom-table {
    border-spacing: 0; /* Remove espaçamento entre células */
    border-collapse: separate; /* Assegura que as bordas sejam colapsadas */
    width: 928px;
    margin: 200px auto;
    border: 1px solid #805A40; /* Mantém a borda externa */
    border-radius: 10px; /* Bordas arredondadas externas */
    overflow: hidden; /* Garante o arredondamento visível */
    background-color: #fff; /* Cor de fundo da tabela */
}
.custom-table thead tr {
    border-bottom: 1px solid #805A40; /* Define cor e estilo das linhas internas */
}

.custom-table tbody tr {
    border-bottom: 1px solid #805A40; /* Define cor e estilo das linhas internas */
}

/* Remove a última linha da borda inferior */
.custom-table tbody tr:last-child {
    border-bottom: none;
}

/* Estilo do cabeçalho */
.custom-table th {
    text-align: justify;
    background-color: #fff;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 32px;
    color: #000;
    padding: 15px;
}

/* Estilo das células */
.custom-table td {
    font-family: 'Poppins';
    font-weight: 500;
    line-height: 21px;
    font-size: 14px;
    color: #000;
    padding: 15px;
    text-align: left;
    vertical-align: middle;
}

/* Estilo das imagens nas células */
.custom-table td img {
    width: 80px; /* Ajuste o tamanho da imagem */
    height: 80px;
    object-fit: cover;
    border-radius: 5px; /* Arredonda as imagens */
}

/* Estilo da última célula da linha */
/* Estilo das células que contêm as imagens */
.custom-table td:last-child {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0; /* Remover o padding da célula */
}

/* Estilo das imagens dentro da última célula */
.custom-table td:last-child img {
    cursor: pointer;
    width: 24px;
    height: 24px;
    margin-right: 50px; /* Espaçamento de 20px entre as imagens */
    margin-top: 40px;
}

/* Remove o espaçamento adicional da última imagem */
.custom-table td:last-child img:last-child {
    margin-right: 0;
}



.rodape {
    max-width: 1440px;
    width: 100%;
    height: 70px;
    left: 955px;
    background-color: #D46D24;
}