<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurante - Tela de Pesquisa</title>

    <link rel="shortcut icon" href="/assets/img/Appetit-logo.png" type="image/x-icon">

    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="container">
        <h1>Buscar Itens do Menu</h1>
        <input type="text" id="input-busca" placeholder="Digite para buscar...">
        <ul id="lista-resultados">
            <!-- Resultados da busca aparecem aqui -->
        </ul>
    </div>

    <script src="script.js"></script>
</body>
</html>
