<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Cadastro</title>

    <link rel="shortcut icon" href="assets/img/Appetit-logo.jpg" type="image/x-icon">

    <link rel="stylesheet" href="/assets/css/reset.css">
    <link rel="stylesheet" href="/assets/css/cadastro.css">
</head>
<body>

    <header class="container-header">
        <div class="container-header-img">
            <img src="/assets/img/retangulo-header.png" alt="Retangulo do cabeçalho">
        </div>
    </header>

    <main class="container-formulario">
        <section>
            <h1 class="titulo-formulario">Bem-vindo (a) à Appetit</h1>

            <form class="formulario-cadastro" id="formulario-cadastro" method="post" action="/api/users/register">
                
                <div class="container-forms">
                    <div class="form-lado-esquerdo">
                        <label for="name">Nome</label>
                        <input class="input-esquerdo" type="text" name="name" id="name" placeholder="Nome" required>

                        <label for="email">Email</label>
                        <input class="input-esquerdo" type="email" name="email" id="email" placeholder="Email" required>

                        <label for="confirmacao-email">Confirmação de email</label>
                        <input class="input-esquerdo" type="email" name="email2"  id="confirmacao-email" placeholder="Confirmação do Email" required>
                    </div>
    
                    <div class="form-lado-direito">
                        <label for="password">Senha</label>
                        <input type="password" name="password" placeholder="Senha" id="password" required>

                        <label for="cpf">CPF</label>
                        <input type="text" name="identificador"  id="cpf" placeholder="xxx.xxx.xxx-xx" required>

                        <div>
                            <label>Tipo de usuário:</label>
                            <div class="container-tipo-usuario">
                                <input type="radio" name="tipo" id="consumidor" value="C" required>
                                <label for="consumidor">Pessoa Física</label>
                    
                                <input type="radio" name="tipo" id="restaurante" value="R" required>
                                <label for="restaurante">Pessoa Jurídica</label>
                            </div>

                        </div>
                    </div>
                </div>

                <input class="btn-submit" type="submit" value="Cadastre-se" id="btnCadastro" >
        
            </form>
        </section>

    </main>

    <footer class="footer"></footer>

    <script src="/assets/js/cadastro.js"></script>
    
</body>
</html>