<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Login</title>
</head>
<body>

    <h1>Login</h1>

    <form id="login" method="post" action="/api/users/login">

        <div>
            <label for="email">Email:</label>
            <input type="email" name="email"  id="email" required>
        </div>

        <div>
            <label for="password">Senha:</label>
            <input type="password" name="password"  id="senha" required>
        </div>

        <div>
            <input type="text">
        </div>

        <input type="submit" value="Login" id="btnLogin">
    
    </form>
    
</body>

<script src="/assets/js/oi.js"></script>
</html>