<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagamento</title>

    <link rel="stylesheet" href="assets/css/reset.css">
    <link rel="stylesheet" href="assets/css/pagamento.css">
</head>
<body>

    <header></header>

    <main>

        <h1 class="titulo-pagamento">Área de Pagamento</h1>

        <hr class="linha">

    </main>

    <footer class="rodape"></footer>
    
</body>
</html>