<!DOCTYPE html>
<html lang="pr-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pedidos</title>

    <link rel="shortcut icon" href="assets/img/Appetit-logo.jpg" type="image/x-icon">

    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <link rel="stylesheet" href="/assets/css/pedidos.css">
</head>
<body>

    <header class="header">
      <nav class="navbar navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
  
        <a href="/inicio"><img src="/assets/img/header/retangulo.png"  class="logo-top" alt=""></a>
        <div class="container-imgs">
          <div class="container-icon">
            <img src="/assets/img/header/icon-busca.png" alt="Ícone de Busca">
          </div>
          <div class="container-person">
            <img src="/assets/img/header/icon-perfil.png" alt="Ícone de Perfil">
          </div>
        </div>
      </nav>
    
      <div class="menu" id="navbarMenu">
        <ul>
          <li>
            <img src="/assets/img/menu/perfil.png" alt="Painel"/>
            <a href="/restaurante/perfil">Painel</a>
          </li>
          <li>
            <img src="/assets/img/menu/menu.png" alt="Cardápio" />
            <a href="/meu-cardapio">Cardápio</a>
          </li>
          <li>
            <img src="/assets/img/menu/pedido.png" alt="Pedidos" />
            <a href="../meus-pedidos">Pedidos</a>
          </li>
          <li>
            <img src="/assets/img/menu/logout.png" alt="Sair" />
            <a href="#">Sair</a>
          </li>
        </ul>
      </div>
    </header>
  

    <div class="container-pedido">
      <table class="custom-table">
        <thead>
          <tr>
            <th colspan="5">Pedidos</th>
          </tr>
        </thead>
        <tbody id="tabela-pedidos">
          <!-- As linhas serão preenchidas dinamicamente -->
        </tbody>
      </table>
    </div>

    <footer class="rodape"></footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    
</body>
<!--<script src="/assets/js/modal-carrinho.js"></script>-->
<script src="/assets/js/pedidos.js"></script>
</html>