<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil Cliente</title>

    <link rel="shortcut icon" href="/assets/img/Appetit-logo.png" type="image/x-icon">
</head>
<body>
    <header class="header">
        <nav class="navbar bg-body-tertiary">
            <div class="container">
              <a href="/inicio">
                <div class="logo-img">
                  <img src="/assets/img/Appetit-logo-marrom.svg" alt="Logo Appetit">
                </div>
              </a>
              <div>
                <a class="navbar-brand" href="#">
                    <img src="/assets/img/header/icon-busca.png" alt="Retangulo">
                  </a>
                  <a class="navbar-brand" href="#">
                    <img src="/assets/img/header/icon-perfil.png" alt="Retangulo">
                  </a>
                  <a class="navbar-brand" href="#" >
                    <img id="icon-carrinho" src="/assets/img/header/icon-carrinho.png" alt="Retangulo">
                  </a>
              </div>
            </div>
          </nav>
    </header>
</body>
</html>