<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tela Inicial</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <link rel="stylesheet" href="assets/css/tela-inicial.css">
</head>
<body>

    <header class="header">
        <nav class="navbar bg-body-tertiary">
            <div class="container">
              <a href="tela-inicial.html">
                <img src="/assets/img/header/retangulo.png" alt="Retangulo">
              </a>
              <div>
                <a class="navbar-brand" href="#">
                    <img src="/assets/img/header/icon-busca.png" alt="Retangulo">
                  </a>
                  <a class="navbar-brand" href="#">
                    <img src="/assets/img/header/icon-perfil.png" alt="Retangulo">
                  </a>
                  <a class="navbar-brand" href="#">
                    <img src="/assets/img/header/icon-carrinho.png" alt="Retangulo">
                  </a>
              </div>
            </div>
          </nav>
    </header>

    <main>
        <div class="bg-imagem"></div>

        <section class="container-btn">
            <div>
                <button type="button" class="custom-btn">Restaurantes</button>
                <button type="button" class="custom-btn">Bebidas</button>
                <button type="button" class="custom-btn">Refeições</button>
            </div>

        </section>

    </main>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    
</body>
</html>