<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Cadastro - Food to save</title>
</head>
<body>

    <h1>Cadastre-se</h1>

    <form id="cadastro">

        <div>
            <label for="nome">Nome:</label>
            <input type="text" name="nome" id="nome">
        </div>

        
        <div>
            <label for="email">Email:</label>
            <input type="email" name="email"  id="email">
        </div>

        <div>
            <label for="email">Confirmação do Email:</label>
            <input type="email" name="email"  id="email">
        </div>

        

    </form>
    
</body>
</html>