<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Cadastro - Food to save</title>
</head>
<body>

    <h1>Cadastre-se</h1>

    <form id="cadastro">

        <div>
            <label for="nome">Nome:</label>
            <input type="text" name="nome" id="nome">
        </div>

        
        <div>
            <label for="email">Email:</label>
            <input type="email" name="email"  id="email" required>
        </div>

        <div>
            <label for="email-confirmação">Confirmação do Email:</label>
            <input type="email" name="email-confirmação"  id="email-confirmação" required>
        </div>

        <div>
            <label for="tipo-usuario">Tipo de usário:</label>
            <input type="text" name="tipo-usuario"  id="tipo-usuario" required>
        </div>

        <div>
            <label for="cpf">CPF:</label>
            <input type="number" name="cpf"  id="cpf" required>
        </div>

        <input type="button" value="Cadastre-se" id="btnCadastro">

    </form>
    
</body>
</html>