<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Cadastro</title>
</head>
<body>

    <h1>Cadastre-se</h1>

    <form id="cadastro" method="post" action="/api/users/register">

        <div>
            <label for="nome">Nome:</label>
            <input type="text" name="name" id="nome">
        </div>

        
        <div>
            <label for="email">Email:</label>
            <input type="email" name="email"  id="email" required>
        </div>

        <div>
            <label for="email2">Confirmação do Email:</label>
            <input type="email" name="email2"  id="email-confirmação" required>
        </div>

        <div>
            <label for="tipo">Tipo de usário:</label>
            <input type="text" name="tipo"  id="tipo-usuario" required>
        </div>

        <div>
            <label for="identificador">CPF:</label>
            <input type="text" name="identificador"  id="cpf" required>
        </div>

        <div>
            <label for="password">Senha:</label>
            <input type="password" name="password"  id="senha" required>
        </div>

        <input type="submit" value="Cadastre-se" id="btnCadastro">

    </form>
    
</body>
</html>